<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dipu.testmodule">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".controllers.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/FullscreenTheme">

        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserEntryActivity"
            android:label="Registration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.QuestionairActivity"
            android:label="Questionnaire"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ReportActivity"
            android:label="Reports"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ModuleList" />
        <activity android:name=".activity.EmployeeDetailsActivity"
            android:label="Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ManagerActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:label="Your Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.Aftertestcomplete"
            android:label="Test Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>


    </application>

</manifest>